.page__container {
  min-width: 320px;
  max-width: 880px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  /* padding: 45px 0 60px; */
}

@media (max-width: 650px) {
  .page__container {
    padding-top: 28px;
  }
}
