.tabs__side-bar {
    max-width: 180px;
    min-height: 712px;
    bottom: 73px;
    position: sticky;
    border-radius: 5px;
    background-color: #dcdcdc;
    margin-left: auto;
    font-family: "Inter", ‘Arial’, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}
