.footer {
  font-family: 'Inter', ‘Arial’, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  position: fixed;  
  bottom: 0;
  width: 100%;
  max-width: 880px;
  position: fixed;
  background-color: #dcdcdc;
}

