.tabs {
  display: flex;
  font-family: "Inter", Arial, sans-serif;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 600px;
}

@media (max-width: 690px) {
  .tabs {
    flex-direction: column;
    padding-bottom: 20px;
  }
}
