.tabs__nav-select {
  display: none;
  flex-wrap: wrap;
  list-style-type: none;
  background: #fafafa;
  margin: 0;
  border: 1px solid #e0e0e0;
  min-width: 325px;
  min-height: 40px;
}

@media (max-width: 768px) {
  .tabs__nav-select {
    display: flex;
  }
}
