.tabs__pane {
    display: none;
    overflow: hidden;
    min-height: 400px;
    min-width: 600px;
    position: relative;
   
  }

  @media (max-width: 866px) {
    .tabs__pane {
      min-width: 450px;      
    }
  }
  
