.header {
  width: 100%;
  border-bottom: solid 1px rgba(84, 84, 84, 0.7);  
  position: fixed;
  max-width: 880px;
  font-family: 'Inter', ‘Arial’, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  background-color: #dcdcdc;
  z-index: 1;
  height: 150px;
}
