.tabs__nav {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  background: #fafafa;
  margin: 0;
  border-bottom: 1px solid #e0e0e0;
}

@media (max-width: 768px) {
  .tabs__nav {
    display: none;
  }
}
